.vs
packages
TestResults
Legato.BL/bin
Legato.BL/obj
Legato.Client/node_modules
Legato.Client/bin
Legato.Client/obj
Legato.Client/legato/**/*.js
Legato.Client/legato/**/*.map
Legato.DAL/bin
Legato.DAL/obj
Legato.DAL.Tests/bin
Legato.DAL.Tests/obj
Legato.Middleware/bin
Legato.Middleware/obj
Legato.MiddlewareContracts/bin
Legato.MiddlewareContracts/obj
Legato.Service/bin
Legato.Service/obj
Legato.ServiceDAL/bin
Legato.ServiceDAL/obj