<div class="top-panel-container">
    <div class="navbar-header top-panel">
        <div class="site-name">
            <div class="site-name-caption">Legato</div>
            <div class="site-name-signature">Easy-going guitar catalog</div>
        </div>
        <div class="site-icon-container">
            <img class="site-icon" src="Content/icons/guitar-ico.png" />
        </div>
    </div>
</div>
<div class="main-container">
    <div class="left-panel">
        <div>
            <div class="find-by-cost-title">Find by cost</div>
            <form name="price" ng-model="mainCtrl.price" legato-validate-price>
                <div>From:</div>
                <input type="number" ng-model="mainCtrl.price.from" />
                <div>To:</div>
                <input type="number" ng-model="mainCtrl.price.to" />
                <div class="error" ng-if="$form.invalid && $form.touched">'To' value has to be greater than 'from'</div>
            </form>
            <p></p>
            <div class="vendors-title">Vendors:</div>
            <div class="vendors-container" ng-repeat="vendor in mainCtrl.vendors">
                <div><input type="checkbox" ng-model="vendor.selected"> {{vendor.name}}</div>
            </div>
            <p></p>
            <div>Sort – <input type="checkbox" ng-model="mainCtrl.sorting.required"/></div>
            <p></p>
            <div ng-if="mainCtrl.sorting.required">
                <div>By:</div>
                <p></p>
                <div>
                    <select ng-model="mainCtrl.sorting.name">
                        <option title="Vendor">Vendor</option>
                        <option title="Price">Price</option>
                    </select>
                    <div ng-if="mainCtrl.sorting.name === 'Price'">
                        <select ng-model="mainCtrl.sorting.direction">
                            <option title="Ascending">Ascending</option>
                            <option title="Descending">Descending</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="button-container">
                <button ng-click="mainCtrl.broadcastButtonClick()" class="btn btn-primary">Go!</button>
            </div>
        </div>
    </div>
    <div id="main-panel">
        <uib-tabset active="activeJustified" type="pills" justified="true">
            <uib-tab select="mainCtrl.refreshVendorList('classical')" index="0" heading="Classical acoustic">
                <classical></classical>
            </uib-tab>
            <uib-tab select="mainCtrl.refreshVendorList('western')" index="1" heading="Western acoustic">
                <western></western>
            </uib-tab>
            <uib-tab select="mainCtrl.refreshVendorList('electric')" index="2" heading="Electric">
                <electric></electric>
            </uib-tab>
            <uib-tab select="mainCtrl.refreshVendorList('bass')" index="3" heading="Bass">
                <bass></bass>
            </uib-tab>
        </uib-tabset>
    </div>
</div>