<div class="guitar-grid">
    <legato-pagination ng-if="!westernCtrl.error && !westernCtrl.noResults"></legato-pagination>
    <legato-request-loader ng-if="westernCtrl.service.hasPendingRequests()" size="large"></legato-request-loader>
    <ul ng-if="!westernCtrl.error">
        <li class="guitar-li" ng-repeat="guitar in westernCtrl.guitars">
            <div class="guitar-container" ng-click="westernCtrl.onGuitarClick($index)" context-menu="westernCtrl.contextMenu.guitarOptions"
                                                                                       context-menu-data="{ type: 'western' }"
                                                                                       context-menu-if="westernCtrl.claimService.hasAdminRights"
                                                                                       model="guitar">
                <div class="guitarimg-container"><img class="guitarimg" ng-src="{{guitar.imgPath}}"></div>
                <div>{{guitar.vendor.name}} {{guitar.model}}</div>
                <div>Mensura: {{guitar.mensura}} mm</div>
                <div>Price: {{guitar.price}} UAH</div>
                <div>Strings: {{guitar.stringNumber}}</div>
                <div>String caliber: {{guitar.stringCaliber}}</div>
            </div>
        </li>
    </ul>
    <div ng-if="westernCtrl.error" class="error">
        Error processing your request. Please try again later.
    </div>
    <div ng-if="westernCtrl.noResults">
        No results found.
    </div>
    <legato-pagination ng-if="!westernCtrl.error && !westernCtrl.noResults"></legato-pagination>
</div>