<div class="guitar-list-container" >
    <div ng-if="westernCtrl.error" class="error">
        Error processing your request. Please try again later.
    </div>
    <div class="guitar-grid">
        <div class="pagination-container">
            <ul uib-pagination
                total-items="westernCtrl.paging.total"
                ng-change="westernCtrl.onPageChanged()"
                next-text=">>"
                previous-text="<<"
                items-per-page="westernCtrl.paging.itemsToShow"
                max-size="10"
                ng-model="westernCtrl.paging.currentPage"
                boundary-links="true"
                rotate="true" />
        </div>
        <ul>
            <li class="guitar-li" ng-repeat="guitar in westernCtrl.guitars | byPrice:westernCtrl.price | byVendors:westernCtrl.vendors | sortBy:westernCtrl.sortBy:westernCtrl.sortDirection">
                <div class="guitar-container">
                    <div class="guitarimg-container"><img class="guitarimg" ng-src="{{guitar.imgPath}}"></div>
                    <div>{{guitar.vendor}} {{guitar.model}}</div>
                    <div>Mensura: {{guitar.mensura}} mm</div>
                    <div>Price: {{guitar.price}} UAH</div>
                    <div>Strings: {{guitar.stringNumber}}</div>
                    <div>String caliber: {{guitar.stringCaliber}}</div>
                </div>
            </li>
        </ul>
        <div class="pagination-container">
            <ul uib-pagination
                total-items="westernCtrl.paging.total"
                ng-change="westernCtrl.onPageChanged()"
                next-text=">>"
                previous-text="<<"
                items-per-page="westernCtrl.paging.itemsToShow"
                max-size="10"
                ng-model="westernCtrl.paging.currentPage"
                boundary-links="true"
                rotate="true" />
        </div>
    </div>
</div>