<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Legato.Middleware.LegatoMiddleware">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/Legato.ServiceDAL/Legato/"   />
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="Legato.MiddlewareContracts.ILegatoMiddleware">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ILegatoMiddleware" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:59435/LegatoMiddleware.svc/Legato"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILegatoMiddleware"
        contract="Legato.Middleware.LegatoMiddleware.ILegatoMiddleware"
        name="BasicHttpBinding_ILegatoMiddleware" />
    </client>
  </system.serviceModel>
</configuration>
