<div class="guitar-grid">
    <legato-pagination ng-if="!bassCtrl.error && !bassCtrl.noResults"></legato-pagination>
    <legato-request-loader ng-if="bassCtrl.service.hasPendingRequests()" size="large"></legato-request-loader>
    <ul ng-if="!bassCtrl.error">
        <li class="guitar-li" ng-repeat="guitar in bassCtrl.guitars">
            <div class="guitar-container" ng-click="bassCtrl.onGuitarClick($index)" context-menu="bassCtrl.contextMenu.guitarOptions"
                                                                                    context-menu-data="{ type: 'bass' }"
                                                                                    context-menu-if="bassCtrl.claimService.hasAdminRights()"
                                                                                    model="guitar">
                <div class="guitarimg-container"><img class="guitarimg" ng-src="{{guitar.imgPath}}"></div>
                <div>{{guitar.vendor.name}} {{guitar.model}}</div>
                <div>Mensura: {{guitar.mensura}} mm</div>
                <div>Price: {{guitar.price}} UAH</div>
                <div>Strings: {{guitar.stringNumber}}</div>
                <div>Soundbox: {{guitar.soundbox}}</div>
            </div>
        </li>
    </ul>
    <div ng-if="bassCtrl.error" class="error">
        Error processing your request. Please try again later.
    </div>
    <div ng-if="bassCtrl.noResults">
        No results found.
    </div>
    <legato-pagination ng-if="!bassCtrl.error && !bassCtrl.noResults"></legato-pagination>
</div>
