<div class="guitar-grid">
    <div class="pagination-container">
        <ul uib-pagination
            ng-if="!electricCtrl.error"
            total-items="electricCtrl.pagingService.total"
            ng-click="electricCtrl.onPageChanged('electric')"
            next-text=">>"
            previous-text="<<"
            items-per-page="electricCtrl.pagingService.itemsToShow"
            max-size="10"
            ng-model="electricCtrl.pagingService.currentPage"
            boundary-links="true"
            rotate="true" />
    </div>
    <legato-request-loader ng-if="electricCtrl.service.hasPendingRequests()" size="large"></legato-request-loader>
    <ul ng-if="!electricCtrl.error">
        <li class="guitar-li" ng-repeat="guitar in electricCtrl.guitars">
            <div class="guitar-container" ng-click="electricCtrl.onGuitarClick('electric', $index)" context-menu="electricCtrl.contextMenu.menuOptions"
                                                                                                    context-menu-if="electricCtrl.userService.currentUser"
                                                                                                    context-menu-data="{ type: 'electric' }" 
                                                                                                    model="guitar">
                <div class="guitarimg-container"><img class="guitarimg" ng-src="{{guitar.imgPath}}"></div>
                <div>{{guitar.vendor.name}} {{guitar.model}}</div>
                <div>Mensura: {{guitar.mensura}} mm</div>
                <div>Price: {{guitar.price}} UAH</div>
                <div>Strings: {{guitar.stringNumber}}</div>
                <div>Tremolo bar: {{guitar.hasTremoloBar | boolean}}</div>
                <div>Soundbox: {{guitar.soundbox}}</div>
                <div>String caliber: {{guitar.stringCaliber}}</div>
            </div>
        </li>
    </ul>
    <div ng-if="electricCtrl.error" class="error">
        Error processing your request. Please try again later.
    </div>
    <div ng-if="electricCtrl.noResults">
        No results found.
    </div>
    <div class="pagination-container">
        <ul uib-pagination
            ng-if="!electricCtrl.error"
            legato-smooth-scroll
            total-items="electricCtrl.pagingService.total"
            ng-click="electricCtrl.onPageChanged('electric')"
            next-text=">>"
            previous-text="<<"
            items-per-page="electricCtrl.pagingService.itemsToShow"
            max-size="10"
            ng-model="electricCtrl.pagingService.currentPage"
            boundary-links="true"
            rotate="true" />
    </div>
</div>