<div class="top-panel-container">
    <div class="navbar-header top-panel">
        <div class="site-name">
            <div class="site-name-caption">Legato</div>
            <div class="site-name-signature">Easy-going guitar catalog</div>
        </div>
        <div class="site-icon-container">
            <img class="site-icon" src="Content/icons/guitar-ico.png" />
        </div>
    </div>
</div>
<div class="main-container">
    <div class="left-panel">
        <div legato-load-on-change>
            <div class="find-by-cost-title">Find by cost</div>
            <form name="price" ng-model="mainCtrl.filterUpdateService.filter.price" legato-validate-price>
                <div>From:</div>
                <input type="number" ng-maxlength="8" ng-model="mainCtrl.filterUpdateService.filter.price.from" />
                <div>To:</div>
                <input type="number" ng-maxlength="8" ng-model="mainCtrl.filterUpdateService.filter.price.to" />
                <div ng-if="price.$error.greater">
                    <small class="error">"To" value has to be greater than "from"</small>
                </div>
            </form>
            <p></p>
            <div class="vendors-title">Vendors:</div>
            <legato-request-loader ng-if="mainCtrl.service.hasPendingRequests()" size="small"></legato-request-loader>
            <div ng-if="mainCtrl.error" class="error">
                <small>
                    Error processing your request. Please try again later.
                </small>
            </div>
            <div class="vendors-container" ng-repeat="vendor in mainCtrl.filterUpdateService.filter.vendors">
                <div>
                    <input id="{{vendor.name}}" type="checkbox" ng-model="vendor.isSelected">
                     <label for="{{vendor.name}}">{{vendor.name}}</label>
                </div>
            </div>
            <p></p>
            <div><label for="sort">Sort</label> – <input id="sort" type="checkbox" ng-model="mainCtrl.filterUpdateService.filter.sorting.required"/></div>
            <p></p>
            <div ng-show="mainCtrl.filterUpdateService.filter.sorting.required">
                <div>By:</div>
                <p></p>
                <div>
                    <select ng-model="mainCtrl.filterUpdateService.filter.sorting.name">
                        <option title="Vendor">Vendor</option>
                        <option title="Price">Price</option>
                    </select>
                    <div ng-show="mainCtrl.filterUpdateService.filter.sorting.name === 'Price'">
                        <select ng-model="mainCtrl.filterUpdateService.filter.sorting.direction">
                            <option title="Ascending">Ascending</option>
                            <option title="Descending">Descending</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="main-panel" ng-animate-children>
        <uib-tabset active="mainCtrl.activeTab" type="pills" justified="true">
            <uib-tab select="mainCtrl.refreshVendorList($event, 'classical')" deselect="mainCtrl.onTabDeselected('classical')" index="'classical'" heading="Classical acoustic"></uib-tab>
            <uib-tab select="mainCtrl.refreshVendorList($event, 'western')" deselect="mainCtrl.onTabDeselected('western')" index="'western'" heading="Western acoustic"></uib-tab>
            <uib-tab select="mainCtrl.refreshVendorList($event, 'electric')" deselect="mainCtrl.onTabDeselected('electric')" index="'electric'" heading="Electric"></uib-tab>
            <uib-tab select="mainCtrl.refreshVendorList($event, 'bass')" deselect="mainCtrl.onTabDeselected('bass')" index="'bass'" heading="Bass"></uib-tab>
        </uib-tabset>
        <ui-view></ui-view>
    </div>
</div>