@font-face {
    font-family: "Dosis";
    src: url("../fonts/Dosis/Dosis-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

html {
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px !important;
    font-family: Dosis !important;
    background-color: aliceblue !important;
}

table {
    width: 100%;
}

th, td {
    word-wrap: break-word;
    text-align: center !important;
}

td div {
    line-height: 1.5em;
    display: inline-block;
    vertical-align: middle;
}

tbody td {
    padding-left: 5px;
    padding-right: 5px;
}

thead tr:hover {
    cursor: default !important;
}

tbody tr:hover {
    cursor: pointer !important;
}

tbody tr:hover {
    background-color: #cde1f7;
}

th {
    text-align: center;
    background-color: #e0e1e0;
}

th div {
    display: inline-block;
    vertical-align: middle;
}

label {
    font-family: inherit !important;
    font-weight: inherit !important;
}

ol, ul {
    list-style: none;
    overflow: hidden;
}

.table-container {
    height: 13em;
    max-height: 13em;
    overflow-y: scroll;
}

.selected-row {
    background-color: #cde1f7
}

.icon {
    width: 32px;
    height: 32px;
}

.icon-sm {
    width: 16px;
    height: 16px;
    vertical-align: baseline !important;
}

.icon-scalable,
.icon-sm-scalable {
    cursor: pointer;
}

.icon-scalable:hover {
    transform: scale(1.1);
}

.icon-sm-scalable:hover {
    transform: scale(1.08);
}

.guitar-li {
    float: left;
}

select {
    width: 179px;
}

div {
    cursor: default;
}

/* Pre-bootstrap loading styles */

div.m-app-loading {
    position: fixed;
}

div.animated-container {
    bottom: 0;
    left: 0;
    opacity: 1.0;
    position: fixed;
    right: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 999999;
}

.m-app-loading .animated-container.ng-leave {
    opacity: 1.0;
    transition: all linear 200ms;
    -webkit-transition: all linear 200ms;
    -moz-transition: all linear 200ms;
    -o-transition: all linear 200ms;
}

.m-app-loading .animated-container.ng-leave-active {
    opacity: 0;
}

.messaging {
    font-family: monospace;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 100px;
}

/* Loading screen styles */

#loading-wrapper {
    width: 100%;
    height: 100%;
}

#loading-wrapper.small {
    padding-top: 3em;
    padding-bottom: 3em;
}

#loading-wrapper.large {
    padding-top: 7em;
    padding-bottom: 7em;
}

#loading-content {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    border: 3px solid #F00;
}

#loading-content.small {
    width: 50px !important;
    height: 50px !important;
    margin: 0 0 0 -25px;
}

#loading-content.large {
    width: 170px !important;
    height: 170px !important;
    margin: 0 0 0 -85px;
}

#loading-content:after {
    content: "";
    position: absolute;
    border: 3px solid #0F0;
    left: 15px;
    right: 15px;
    top: 15px;
    bottom: 15px;
}

#loading-content:before {
    content: "";
    position: absolute;
    border: 3px solid #00F;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
}

#loading-content {
    border: 3px solid transparent;
    border-top-color: #4D658D;
    border-bottom-color: #4D658D;
    border-radius: 50%;
    -webkit-animation: loader 2s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 2s linear infinite;
}

#loading-content:after {
    border: 3px solid transparent;
    border-top-color: #D4CC6A;
    border-bottom-color: #D4CC6A;
    border-radius: 50%;
    -webkit-animation: loader 3s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 3s linear infinite;
}

#loading-content:before {
    border: 3px solid transparent;
    border-top-color: #84417C;
    border-bottom-color: #84417C;
    border-radius: 50%;
    -webkit-animation: loader 1.5s linear infinite;
    animation: loader 1.5s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
}

@-webkit-keyframes loaders {
    0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}

/* Panels */

.top-panel-container {
    width: 100%;
    display: block;
}

.logging-info {
    margin-left: auto;
    align-self: flex-end;
    margin-bottom: 0.3em;
}

.top-panel {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    color: aliceblue;
    flex-direction: row;
    background-color: black;
    justify-content: space-between;
}

.site-icon-container {
    width: 250px;
    height: 100px;
    margin-right: 1em;
    margin-left: auto;
    align-self: center;
}

.site-icon-container:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.site-icon {
    max-width: 100%;
    max-height: 100%;
}

.site-name {
    left: 0;
    padding: 7px;
}

.site-name-caption {
    font-size: 3em;
}

.site-name-signature {
    font-size: 2em;
}

.main-container {
    clear: both;
    display: flex;
}

.search-field {
    margin-bottom: 1.4em;
}

.find-by-cost-title {
    padding-bottom: 1em;
}

.left-panel {
    width: 14em;
    height: 100%;
    display: block;
    padding-top: 2em;
    text-align: center;
}

#main-panel {
    width: 100%;
    display: block;
}

.vendors-title {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.vendors-container {
    width: 44%;
    margin: 0 auto;
    overflow-y: auto;
    max-height: 200px;
    text-align: start;
}

.sort-container {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

.button-container,
.button-container-center {
    margin-top: 1.46em;
}

.button-container {
    text-align: right;
}

.search {
    margin-top: 0.1em;
    margin-bottom: 0.8em;
}

.guitar-list-container {
    height: 100%;
    min-height: 500px;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
}

.guitar-grid {
    margin: 1.44em;
}

.guitar-container:hover,
.guitarimg-container:hover {
    cursor: pointer;
}

.guitar-container {
    margin: 2em;
    width: 300px;
    height: 550px;
    overflow: hidden;
    text-align: center;
    vertical-align: baseline;
}

.guitar-container:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: scroll;
    overflow-x: auto;
}

.guitarimg-container {
    width: 180px;
    height: 400px;
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 1em;
}

.guitarimg {
    width: 100%;
    height: 100%;
}

.pagination-container {
    width: 100%;
    text-align: center;
}

/* Workaround for ui bootstrap modals */

.modal {
  display: block;
}

.modal-body:before,
.modal-body:after {
    display: table;
    content: " ";
}

.modal-header:before,
.modal-header:after {
  display: table;
  content: " ";
}

.modal-main-info {
    text-align: center;
}

.modal-main-info,
.modal-main-info img {
    padding-bottom: 10px;
}

.legato-modal-body,
.legato-modal-body-table {
    background-color: aliceblue;
}

.legato-modal-body-table {
    height: 22em;
}

.modal-button {
    min-width: 4em;
}

/* Login form styles */

.error-message {
    color: rgb(211, 33, 33);
    text-align: center;
}

.loginmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.loginmodal-container h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: roboto;
}

.loginmodal-container button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
    width: 100%;
    height: 44px;
    font-size: 16px;
    padding: 0 8px;
    background: #fff;
    margin-bottom: 10px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    -webkit-box-sizing: border-box;
    -webkit-appearance: none;
    -moz-box-sizing: border-box;
    -moz-appearance: none;
    box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.loginmodal {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
}

.loginmodal-submit {
    border: 0;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1); 
    background-color: #4d90fe;
    padding: 17px 0;
    font-family: roboto;
    font-size: 14px;
}

.loginmodal-submit:hover {
    border: 0;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background-color: #357ae8;
}

.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.modal-loading {
    text-align: center;
}

.login-loading img {
    width: 32px;
    height: 32px;
}

.admin-panel {
    height: 3em;
    display: flex;
    margin-top: 1em;
    margin-left: 4em;
    flex-direction: row;
    justify-content: space-between;
}

.flexbox {
    display: flex;
}

.admin-panel-item {
    width: 3em;
    height: 3em;
    display: flex;
    border: 3px solid;
    border-radius: 1em;
    margin: 0 0.45em 0;
    align-items: center;
    justify-content: center;
}

.admin-panel-item:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.5) 8px 5px 10px;
}

.admin-panel-item-img {
    width: 90%;
    height: 90%;
}

.thumb {
    width: 36px;
    height: 36px;
    float: none;
    position: relative;
    top: 4px;
}

.user-table {
    width: 100%;
    border: 1px solid;
}

.alert {
    margin-bottom: inherit !important;
}