<div>
    <div class="modal-header">{{addeditModalCtrl.mode}} guitar</div>
    <div class="modal-body legato-modal-body">
        <div>
            <form name="guitarForm">
                <p><input ng-model="addeditModalCtrl.guitar.vendor.name"      placeholder="Vendor" required /></p>
                <p><input ng-model="addeditModalCtrl.guitar.model"            placeholder="Model" required /></p>
                <p><input ng-model="addeditModalCtrl.guitar.mensura"          placeholder="mensura" type="number" /></p>
                <p><input ng-model="addeditModalCtrl.guitar.price"            placeholder="Price" required type="number" /></p>

                <p ng-if="addeditModalCtrl.type === 'classical'">
                    <select ng-model="addeditModalCtrl.guitar.stringType">
                        <option value="" disabled selected>String type</option>
                        <option ng-repeat="stringType in addeditModalCtrl.guitarData.data[addeditModalCtrl.type].stringTypes" value="{{stringType}}" required>{{stringType}}</option>
                    </select>
                </p>
                <p ng-if="addeditModalCtrl.type !== 'classical'">
                    <select ng-model="addeditModalCtrl.guitar.stringNumber">
                        <option value="" disabled selected>String number</option>
                        <option ng-repeat="stringNumber in addeditModalCtrl.guitarData.data[addeditModalCtrl.type].stringNumbers" value="{{stringType}}" required>{{stringNumber}}</option>
                    </select>
                </p>
                <p ng-if="addeditModalCtrl.type === 'electric' || addeditModalCtrl.type === 'bass'">
                    <select ng-model="addeditModalCtrl.guitar.soundBox">
                        <option value="" disabled selected>Soundbox</option>
                        <option ng-repeat="soundBox in addeditModalCtrl.guitarData.data[addeditModalCtrl.type].soundBoxes" value="{{stringType}}" required>{{soundBox}}</option>
                    </select>
                </p>
                <p ng-if="addeditModalCtrl.type === 'electric'">
                    <input id="tremolo" ng-model="addeditModalCtrl.guitar.hasTremoloBar" type="checkbox" required /><label for="tremolo">&nbsp;Tremolo bar</label>
                </p>
                <div>
                    <p>Choose a picture (can be empty)</p>
                    <input type="file" ngf-select="addeditModalCtrl.uploadFile($file)" ng-model="addeditModalCtrl.fileUpload.picFile" name="file" accept="image/*" ngf-max-size="2MB">
                    <img ngf-thumbnail="addeditModalCtrl.fileUpload.picFile" class="thumb">
                </div>
            </form>
        </div>
        <div class="button-container">
            <button ng-click="addeditModalCtrl.onOkButtonClicked()" ng-disabled="!guitarForm.$valid" class="btn btn-primary">Ok</button>
            <button ng-click="addeditModalCtrl.onCancelButtonClicked()" class="btn btn-primary">Cancel</button>
        </div>
    </div>
</div>