<div>
    <div class="modal-header">{{addeditModalCtrl.mode}} guitar</div>
    <div class="modal-body legato-modal-body">
        <div ng-show="addeditModalCtrl.mode === 'Add'">
            <select>
                <option ng-repeat="option in addeditModalCtrl.options" ng-model="addeditModalCtrl.type" value="{{option}}">{{option}}</option>
            </select>
        </div>
        <div>
            <p><input ng-model="addeditModalCtrl.guitar.vendor"      placeholder="Vendor" /></p>
            <p><input ng-model="addeditModalCtrl.guitar.model"       placeholder="Model" /></p>
            <p><input ng-model="addeditModalCtrl.guitar.mensura"     placeholder="mensura" type="number" /></p>
            <p><input ng-model="addeditModalCtrl.guitar.price"       placeholder="Price" type="number" /></p>

            <p ng-show="addeditModalCtrl.type === 'classical'">
                <select ng-model="addeditModalCtrl.guitar.stringType"  placeholder="String type">
                    <option ng-repeat="stringType in addeditModalCtrl.guitar.stringTypes()" value="stringType">{{stringType}}</option>
                </select>
            </p>
            <p ng-show="addeditModalCtrl.type !== 'classical'">
                <select ng-model="addeditModalCtrl.guitar.stringNumber">
                    <option ng-repeat="stringNumber in addeditModalCtrl.guitar.stringNumbers()" value="stringType">{{stringNumber}}</option>
                </select>
            </p>
            <p ng-show="addeditModalCtrl.type === 'electric' || addeditModalCtrl.type === 'bass'">
                <select ng-model="addeditModalCtrl.guitar.soundBox">
                    <option ng-repeat="soundBox in addeditModalCtrl.guitar.soundBoxes()" value="stringType">{{soundBox}}</option>
                </select>
            </p>
            <p ng-show="addeditModalCtrl.type === 'electric'">
                <input id="tremolo" ng-model="addeditModalCtrl.guitar.hasTremoloBar" type="checkbox" /><label for="tremolo"> Tremolo bar</label>
            </p>
            <div>
                <p>Choose a picture (can be empty)</p>
                <input type="file" ngf-select ng-model="addeditModalCtrl.fileUpload.picFile" name="file" accept="image/*" ngf-max-size="2MB">
                <img ngf-thumbnail="addeditModalCtrl.fileUpload.picFile" class="thumb">
            </div>
        </div>
        <div class="button-container">
            <button ng-click="addeditModalCtrl.onOkButtonClicked()" class="btn btn-primary">Ok</button>
            <button ng-click="addeditModalCtrl.onCancelButtonClicked()" class="btn btn-primary">Cancel</button>
        </div>
    </div>
</div>