<div>
    <div class="modal-header">Confirm delete</div>
    <div class="modal-body legato-modal-body">
        <div class="container-fluid">
            Are you sure you want to delete guitar {{guitarDeleteModalCtrl.guitar.vendor.name}} {{guitarDeleteModalCtrl.guitar.model}} with product id {{guitarDeleteModalCtrl.guitar.id}}?
        </div>
        <div class="button-container text-right">
            <button ng-click="guitarDeleteModalCtrl.onOkButtonClicked()" class="btn btn-primary">Yes</button>
            <button ng-click="guitarDeleteModalCtrl.onCancelButtonClicked()" class="btn btn-primary">No</button>
        </div>
    </div>
</div>