<div class="guitar-list-container" legato-loader>
    <div ng-if="classicalCtrl.error" class="error ">
        Error processing your request. Please try again later.
    </div>
    <div class="guitar-grid">
        <ul>
            <li ng-repeat="guitar in classicalCtrl.guitars | byPrice:classicalCtrl.price | byVendors:classicalCtrl.vendors | sortBy:classicalCtrl.sortBy:classicalCtrl.sortDirection">
                <div class="guitar-container">
                    <div class="guitarimg-container"><img class="guitarimg" ng-src="{{guitar.ImgPath}}"></div>
                    <div>{{guitar.Vendor}} {{guitar.Model}}</div>
                    <div>Mensura: {{guitar.Mensura}} mm</div>
                    <div>Price: {{guitar.Price}} UAH</div>
                    <div>String type: {{guitar.StringType}}</div>
                </div>
            </li>
        </ul>
    </div>
</div>