<div class="guitar-list-container">
    <div ng-if="classicalCtrl.error" class="error ">
        Error processing your request. Please try again later.
    </div>
    <div class="guitar-grid">
        <div class="pagination-container">
            <ul uib-pagination 
                total-items="classicalCtrl.paging.total" 
                ng-change="classicalCtrl.onPageChanged()"
                next-text=">>"
                previous-text="<<"
                items-per-page="classicalCtrl.paging.itemsToShow" 
                max-size="10" 
                ng-model="classicalCtrl.paging.currentPage" 
                boundary-links="true"
                rotate="true" />
        </div>
        <ul>
            <li class="guitar-li" ng-repeat="guitar in classicalCtrl.guitars | byPrice:classicalCtrl.price | byVendors:classicalCtrl.vendors | sortBy:classicalCtrl.sortBy:classicalCtrl.sortDirection">
                <div class="guitar-container">
                    <div class="guitarimg-container"><img class="guitarimg" ng-src="{{guitar.imgPath}}"></div>
                    <div>{{guitar.vendor}} {{guitar.model}}</div>
                    <div>Mensura: {{guitar.mensura}} mm</div>
                    <div>Price: {{guitar.price}} UAH</div>
                    <div>String type: {{guitar.stringType}}</div>
                </div>
            </li>
        </ul>
        <div class="pagination-container">
            <ul uib-pagination
                total-items="classicalCtrl.paging.total"
                ng-change="classicalCtrl.onPageChanged()"
                next-text=">>"
                previous-text="<<"
                items-per-page="classicalCtrl.paging.itemsToShow"
                max-size="10"
                ng-model="classicalCtrl.paging.currentPage" 
                boundary-links="true"
                rotate="true" />
        </div>
    </div>
</div>